<ul>
    <li><img src="../assets/angular.png" width="50"></li>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/flights/flights-search">Flights</a></li>
    <li><a routerLink="/charts">Charts</a></li>
</ul>

<h2>Currency: {{ (currentCurrency$ | async) }}</h2>
<button (click)="setDefaultCurrency()">Set Default Currency (CHF)</button>
<div>
  <h5>Chart 1</h5>
  <div #chartView1></div>
</div>

<div>
  <h5>Chart 2</h5>
  <div #chartView2></div>
</div>

<hr>
<router-outlet></router-outlet>

